.a-section.top-section
  .a-section
    .top-logo
      = link_to "/"  do
        %i.a-icon.a-icon-logo
        %i.a-icon.a-icon-jp
  .a-section.authportal-center
    .a-section.authportal-main
      .a-section.auth-container
        .a-section
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .form
              .form-inner
                %h1
                  アカウントを作成
                .a-row.a-spacing-base
                  .field
                    .field-label
                      = f.label :name
                    .field-input
                      = f.text_field :name, autofocus: true
                .require-fields
                  .a-row.a-spacing-match-group
                    .field
                      .field-label
                        = f.label :email
                      .field-input
                        = f.email_field :email
                .require-fields
                  .a-row.a-spacing-match-group
                    .field
                      = f.label :password
                      = f.password_field :password, autocomplete: "off", placeholder: "(#{@minimum_password_length} characters minimum)"
                  .a-row.a-spacing-match-group
                    .field
                      = f.label :password_confirmation
                      %br/
                      = f.password_field :password_confirmation, autocomplete: "off"
                .a-raw.a-spacing-large
                  %span.a-button.a-button-orange
                    %span.a-button-inner
                      = f.submit
                      %span.a-button-text
                        Amazonアカウントを作成
                  .a-row.a-spacing-medium
                    サインインすることにより、当社の
                    = link_to "利用規約", ""
                    および
                    = link_to "プライバシー規約", ""
                    に同意したと見なされます。
                  .a-row
                    すでにアカウントをお持ちですか？
                    = link_to "サインイン", new_session_path(resource_name) 
