%td{:style => "width: 25%"}
  .popover-grouping
    %h2.popover-category-name ドラッグストア・ビューティー
    %ul.nav_cat_links
      %li.nav_first
        = link_to '医薬品'
      %li
        = link_to 'ヘルスケア・衛生用品'
      %li
        = link_to 'コンタクトレンズ'
      %li
        = link_to 'サプリメント'
      %li
        = link_to 'ダイエット'
      %li
        = link_to 'シニアサポート・介護'
      %li
        = link_to 'おむつ・おしりふき'
      %li
        = link_to '日用品 (掃除・洗濯・キッチン)'
      %li
        = link_to 'ドラッグストアへ'
      %li
        = link_to 'Dash Button (ダッシュボタン)'
      %li
        = link_to 'Amazonパントリー'
      %li
        = link_to 'Amazon定期おトク便'
      %li
        = link_to 'ヘアケア・スタイリング'
      %li
        = link_to 'スキンケア'
      %li
        = link_to 'メイクアップ・ネイル'
      %li
        = link_to 'バス・ボディケア'
      %li
        = link_to 'オーラルケア'
      %li
        = link_to 'ラグジュアリービューティー'
      %li
        = link_to 'ナチュラル・オーガニック'
      %li
        = link_to 'ドクターズコスメ'
      %li
        = link_to 'トライアルキット'
      %li
        = link_to 'ブランド一覧'
      %li
        = link_to 'ビューティーストアへ'
  .popover-grouping
    %h2.popover-category-name ベビー・おもちゃ・ホビー
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'ベビー＆マタニティ'
      %li
        = link_to 'おもちゃ'
      %li
        = link_to '絵本・児童書'
      %li
        = link_to 'Amazonファミリー'
      %li
        = link_to 'ホビー'
      %li
        = link_to '楽器'
  .popover-grouping
    %h2.popover-category-name 服・シューズ・バッグ ・腕時計
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'レディース'
      %li
        = link_to 'メンズ'
      %li
        = link_to 'キッズ＆ベビー'
      %li
        = link_to 'バッグ・スーツケース'
      %li
        = link_to 'スポーツウェア＆シューズ'
  .popover-grouping
    %h2.popover-category-name スポーツ＆アウトドア
    %ul.nav_cat_links
      %li.nav_first
        = link_to '自転車'
      %li
        = link_to 'アウトドア'
      %li
        = link_to '釣り'
      %li
        = link_to 'フィットネス・トレーニング'
      %li
        = link_to 'ゴルフ'
      %li
        = link_to 'スポーツウェア＆シューズ'
      %li
        = link_to 'すべてのスポーツ＆アウトドア'
  .popover-grouping
    %h2.popover-category-name 車＆バイク・産業・研究開発
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'カー用品'
      %li
        = link_to 'バイク用品'
      %li
        = link_to '自動車&バイク車体'
      %li
        = link_to 'DIY・工具・ガーデン'
      %li
        = link_to '安全・保護用品'
      %li
        = link_to '工業機器'
      %li
        = link_to '研究開発用品'
      %li
        = link_to '衛生・清掃用品'
      %li
        = link_to 'すべての産業・研究開発用品'
      %li
        = link_to 'Amazon Business'
  .popover-grouping
    %h2.popover-category-name クレジットカード＆Amazonポイント
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Amazon Mastercard'
      %li
        = link_to 'クレジットカード＆保険ストア'
      %li
        = link_to 'パートナーポイントプログラム'
      %li
        = link_to 'Amazonポイント'
