%td{:style => "width: 25%"}
  .popover-grouping
    %h2.popover-category-name Prime Video
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'すべてのビデオ'
      %li
        = link_to 'プライム会員特典'
      %li
        = link_to 'レンタル・購入'
      %li
        = link_to 'ウォッチリスト'
      %li
        = link_to 'ビデオライブラリ'
      %li
        = link_to 'どこでも視聴'
  .popover-grouping
    %h2.popover-category-name Amazon Music
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Amazon Music Unlimited'
      %li
        = link_to 'Prime Music'
      %li
        = link_to 'ミュージックライブラリ'
      %li
        = link_to 'デジタルミュージック'
      %li
        = link_to 'CD・レコード'
  .popover-grouping
    %h2.popover-category-name Android アプリストア
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'アプリ'
      %li
        = link_to 'ゲーム'
      %li
        = link_to 'Fire対応アプリ'
      %li
        = link_to 'Amazonコイン'
      %li
        = link_to 'Amazonアプリ'
      %li
        = link_to 'アプリライブラリと端末の管理'
  .popover-grouping
    %h2.popover-category-name Echo & Alexa
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Echo Dot'
      %li
        = link_to 'Echo'
      %li
        = link_to 'Echo Plus'
      %li
        = link_to 'Alexaデバイス'
      %li
        = link_to 'Alexaについて'
      %li
        = link_to 'Alexaスキル'
      %li
        = link_to 'Alexaスマートホーム'
      %li
        = link_to 'Amazon Music Unlimited'
  .popover-grouping
    %h2.popover-category-name Fireタブレット
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Fire 7'
      %li
        = link_to 'Fire HD 8'
      %li
        = link_to 'Fire HD 10'
      %li
        = link_to 'Fire タブレットアクセサリ'
      %li
        = link_to 'プライムフォト'
      %li
        = link_to 'Amazon Drive'
      %li
        = link_to 'Kindle本'
      %li
        = link_to 'Amazonビデオ'
      %li
        = link_to 'デジタルミュージック'
      %li
        = link_to 'アプリ・ゲーム'
      %li
        = link_to '端末とコンテンツの管理'
  .popover-grouping
    %h2.popover-category-name Fire TV
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Fire TV Stick'
      %li
        = link_to 'Fire TV 4K対応'
      %li
        = link_to 'Amazon Fire TVゲームコントローラー'
      %li
        = link_to 'Prime Video'
      %li
        = link_to 'Amazonビデオ'
      %li
        = link_to 'Fire TV用アプリ'
      %li
        = link_to 'プライムフォト'
  .popover-grouping
    %h2.popover-category-name Kindle 本＆電子書籍リーダー
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'Kindle'
      %li
        = link_to 'Kindle Paperwhite'
      %li
        = link_to 'Kindle Paperwhite マンガモデル'
      %li
        = link_to 'Kindle Voyage'
      %li
        = link_to 'Kindle Oasis'
      %li
        = link_to 'Kindle アクセサリ'
      %li
        = link_to 'Kindle本'
      %li
        = link_to 'Kindleコミック'
      %li
        = link_to 'Kindle洋書'
      %li
        = link_to 'Kindle Unlimited'
      %li
        = link_to 'Prime Reading'
      %li
        = link_to 'Kindleオーナー ライブラリー'
      %li
        = link_to 'Kindle無料アプリ'
      %li
        = link_to 'Kindle Cloud Reader'
      %li
        = link_to 'マンガ本棚'
      %li
        = link_to 'コンテンツと端末の管理'
