%td{:style => "width: 25%"}
  .popover-grouping
    %h2.popover-category-name 本・コミック・雑誌 & Audible
    %ul.nav_cat_links
      %li.nav_first
<<<<<<< HEAD
        = link_to '本'
=======
        = link_to '本', "/parent_categories/show "
>>>>>>> master
      %li
        = link_to '洋書'
      %li
        = link_to 'コミック'
      %li
        = link_to '雑誌'
      %li
        = link_to '単行本'
      %li
        = link_to '文庫'
      %li
        = link_to '新書'
      %li
        = link_to '絵本・児童書'
      %li
        = link_to '新刊・予約'
      %li
        = link_to 'まとめ買い・セット本'
      %li
        = link_to 'アウトレット本'
      %li
        = link_to '中古本（古本・古書）'
      %li
        = link_to '買取サービス'
      %li
        = link_to 'Kindle本'
      %li
        = link_to 'Kindleコミック'
      %li
        = link_to 'Kindle洋書'
      %li
        = link_to 'Kindle Unlimited'
      %li
        = link_to 'Prime Reading'
      %li
        = link_to 'Audible オーディオブック'
      %li
        = link_to '1か月間 無料体験'
  .popover-grouping
    %h2.popover-category-name DVD・ミュージック・ゲーム
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'DVD'
      %li
        = link_to 'ブルーレイ'
      %li
        = link_to 'Amazonビデオ'
      %li
        = link_to 'ミュージック'
      %li
        = link_to 'デジタルミュージック'
      %li
        = link_to '楽器'
      %li
        = link_to 'テレビゲーム'
      %li
        = link_to 'PCゲーム'
      %li
        = link_to 'ゲームダウンロード'
      %li
        = link_to '買取サービス'
  .popover-grouping
    %h2.popover-category-name 家電・カメラ・AV機器
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'キッチン家電'
      %li
        = link_to '生活家電'
      %li
        = link_to '理美容家電'
      %li
        = link_to '空調・季節家電'
      %li
        = link_to '照明'
      %li
        = link_to '大型家電'
      %li
        = link_to 'すべての家電'
      %li
        = link_to 'カメラ・ビデオカメラ'
      %li
        = link_to 'アクションカメラ'
      %li
        = link_to '双眼鏡・望遠鏡・光学機器'
      %li
        = link_to '携帯電話・スマートフォン'
      %li
        = link_to 'テレビ・レコーダー'
      %li
        = link_to 'オーディオ'
      %li
        = link_to 'イヤホン・ヘッドホン'
      %li
        = link_to 'ウェアラブルデバイス'
      %li
        = link_to 'アクセサリ'
      %li
        = link_to 'すべてのカメラ・AV機器'
      %li
        = link_to '中古カメラ・ビデオカメラ'
      %li
        = link_to '中古AV機器・携帯電話'
      %li
        = link_to 'すべての中古'
      %li
        = link_to 'Amazon Launchpad'
      %li
        = link_to '買取サービス'
      %li
        = link_to 'Alexaスマートホーム'
