%td{:style => "width: 25%"}
  .popover-grouping
    %h2.popover-category-name パソコン・オフィス用品
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'パソコン・タブレット'
      %li
        = link_to 'ディスプレイ・モニター'
      %li
        = link_to 'プリンター・インク'
      %li
        = link_to 'キーボード・マウス・入力機器'
      %li
        = link_to '無線LAN・ネットワーク機器'
      %li
        = link_to 'PCパーツ・CPU・内蔵HDD'
      %li
        = link_to '外付けドライブ・ストレージ'
      %li
        = link_to 'SD・microSDカード・USBメモリ'
      %li
        = link_to 'PCアクセサリ・記録メディア'
      %li
        = link_to 'ゲーミングPC・関連アクセサリ'
      %li
        = link_to 'すべてのパソコン・周辺機器'
      %li
        = link_to 'ビジネス・オフィス'
      %li
        = link_to 'セキュリティ'
      %li
        = link_to '画像・映像制作'
      %li
        = link_to 'PCゲーム'
      %li
        = link_to 'ダウンロード版'
      %li
        = link_to 'PCソフト定期購入'
      %li
        = link_to 'すべてのPCソフト'
      %li
        = link_to '文具・学用品'
      %li
        = link_to '事務用品'
      %li
        = link_to '筆記具'
      %li
        = link_to 'ノート・メモ帳'
      %li
        = link_to '手帳・カレンダー'
      %li
        = link_to 'オフィス家具'
      %li
        = link_to 'オフィス機器'
      %li
        = link_to 'すべての文房具・オフィス用品'
  .popover-grouping
    %h2.popover-category-name ホーム＆キッチン・ペット・DIY
    %ul.nav_cat_links
      %li.nav_first
        = link_to 'キッチン用品・食器'
      %li
        = link_to 'インテリア・雑貨'
      %li
        = link_to 'カーペット・カーテン・クッション'
      %li
        = link_to '家具'
      %li
        = link_to '収納用品・収納家具'
      %li
        = link_to '布団・枕・シーツ'
      %li
        = link_to '掃除・洗濯・バス・トイレ'
      %li
        = link_to '防犯・防災'
      %li
        = link_to '家電'
      %li
        = link_to '手芸・画材'
      %li
        = link_to 'すべてのホーム＆キッチン'
      %li
        = link_to '電動工具'
      %li
        = link_to '作業工具'
      %li
        = link_to 'リフォーム'
      %li
        = link_to 'ガーデン'
      %li
        = link_to 'エクステリア'
      %li
        = link_to 'すべてのDIY・工具・ガーデン'
      %li
        = link_to 'ペット用品・ペットフード'
  .popover-grouping
    %h2.popover-category-name 食品・飲料・お酒
    %ul.nav_cat_links
      %li.nav_first
        = link_to '食品・グルメ'
      %li
        = link_to 'お米・麺・パン・シリアル'
      %li
        = link_to '調味料・スパイス'
      %li
        = link_to 'スイーツ・お菓子'
      %li
        = link_to '水・ソフトドリンク'
      %li
        = link_to 'コーヒー・お茶'
      %li
        = link_to 'おとなセレクト'
      %li
        = link_to 'Nipponストア(ご当地グルメ・特産品)'
      %li
        = link_to 'ヤスイイね・お買い得情報'
      %li
        = link_to 'Dash Button (ダッシュボタン)'
      %li
        = link_to 'Amazonフレッシュ'
      %li
        = link_to 'Amazonパントリー'
      %li
        = link_to 'Amazon定期おトク便'
      %li
        = link_to '出前特集'
      %li
        = link_to 'ビール・発泡酒'
      %li
        = link_to 'ワイン'
      %li
        = link_to '日本酒'
      %li
        = link_to '焼酎'
      %li
        = link_to '梅酒'
      %li
        = link_to '洋酒・リキュール'
      %li
        = link_to 'チューハイ・カクテル'
      %li
        = link_to 'ノンアルコール飲料'
      %li
        = link_to 'すべてのお酒'
      %li
        = link_to 'Amazonソムリエ'
