%link{:href => "https://images-fe.ssl-images-amazon.com/images/I/61AIrVvhymL._RC|01evdoiemkL.css,01K+Ps1DeEL.css,31yErFkQitL.css,01Of-NmZX6L.css,11pdJ7gGeEL.css,21LK7jaicML.css,11L58Qpo0GL.css,21EuGTxgpoL.css,01Xl9KigtzL.css,21IJTTf5-5L.css,019SHZnt8RL.css,01qy9K8SDEL.css,11vZhCgAHbL.css,21uiGhnhrlL.css,11WgRxUdJRL.css,01dU8+SPlFL.css,11ocrgKoE-L.css,01SHjPML6tL.css,111-D2qRjiL.css,01QrWuRrZ-L.css,31jVVYSnroL.css,114KWZGKCVL.css,01cbS3UK11L.css,01oZl+VEzRL.css_.css?AUIClients/AmazonUI#jp.not-trident", :rel => "stylesheet"}/

%link{:href => "https://images-fe.ssl-images-amazon.com/images/I/61gCqf-OvGL._RC|11qlbytjBCL.css,31uhlNwRi9L.css,218SPNsG8BL.css,31qZr4W+nuL.css,11h94qpcz8L.css,21boYNdV4IL.css,01XHMOHpK1L.css_.css?AUIClients/NavDesktopMetaAsset#desktop.language-ja.jp", :rel => "stylesheet"}/
#a-page
  %img{:alt => "", :src => "https://images-na.ssl-images-amazon.com/images/G/09/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557390_.png", :style => "display:none"}

  #navbar.nav-sprite-v1.nav-bluebeacon.nav-subnav.nav-packard-glow{:role => "navigation"}
    #nav-subnav{"data-category" => "books", "data-digest" => "H1n5rfpwaBm68PM+Agpvlj0NzAM"}
      %a.nav-a.nav-b{:href => "/parent_categories/show", :tabindex => "31"}
        %span.nav-a-content 本
      %a.nav-a{:href => "/%E5%92%8C%E6%9B%B8%E8%A9%B3%E7%B4%B0%E3%82%B5%E3%83%BC%E3%83%81/b/ref=sv_b_0?ie=UTF8&node=124284011", :tabindex => "32"}
        %span.nav-a-content 詳細検索
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-2", :href => "/%E3%82%B8%E3%83%A3%E3%83%B3%E3%83%AB%E5%88%A5/b/ref=sv_b_1?ie=UTF8&node=465610", :tabindex => "33"}
        %span.nav-a-content ジャンル一覧
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-3", :href => "/%E6%9C%AC-%E6%96%B0%E5%88%8A/b/ref=sv_b_2?ie=UTF8&node=2405051051", :tabindex => "34"}
        %span.nav-a-content 新刊・予約
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-4", :href => "/gp/bestsellers/books/ref=sv_b_3", :tabindex => "35"}
        %span.nav-a-content Amazonランキング
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-5", :href => "/%E6%BC%AB%E7%94%BB%EF%BC%88%E3%83%9E%E3%83%B3%E3%82%AC%EF%BC%89%EF%BC%8D%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%EF%BC%8DBL%EF%BC%88%E3%83%9C%E3%83%BC%E3%82%A4%E3%82%BA%E3%83%A9%E3%83%96%EF%BC%89-%E6%9C%AC/b/ref=sv_b_4?ie=UTF8&node=466280", :tabindex => "36"}
        %span.nav-a-content コミック・ラノベ・BL
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-6", :href => "/%E9%9B%91%E8%AA%8C-%E9%80%9A%E8%B2%A9/b/ref=sv_b_5?ie=UTF8&node=13384021", :tabindex => "37"}
        %span.nav-a-content 雑誌
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-7", :href => "/%E6%96%87%E5%BA%AB-%E6%96%B0%E6%9B%B8-%E6%9C%AC/b/ref=sv_b_6?ie=UTF8&node=466300", :tabindex => "38"}
        %span.nav-a-content 文庫・新書
        %span.nav-arrow
      %a.nav-a{:href => "/%E5%AD%A6%E7%94%9F-%E5%A4%A7%E5%AD%A6%E7%94%9F-%E6%95%99%E7%A7%91%E6%9B%B8-%E6%9C%AC-student/b/ref=sv_b_7?ie=UTF8&node=2410972051", :tabindex => "39"}
        %span.nav-a-content Prime Student
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-9", :href => "/%E3%83%90%E3%83%BC%E3%82%B2%E3%83%B3%E3%83%96%E3%83%83%E3%82%AF-%E3%83%90%E3%83%BC%E3%82%B2%E3%83%B3%E6%9C%AC-%E3%81%8A%E8%B2%B7%E3%81%84%E5%BE%97%E6%83%85%E5%A0%B1/b/ref=sv_b_8?ie=UTF8&node=2184331051", :tabindex => "40"}
        %span.nav-a-content バーゲン
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-10", :href => "/%E5%8F%A4%E6%9C%AC%E3%82%B9%E3%83%88%E3%82%A2/b/ref=sv_b_9?ie=UTF8&node=3895598051", :tabindex => "41"}
        %span.nav-a-content 古本ストア
        %span.nav-arrow
      %a.nav-a{:href => "/b/ref=sv_b_10?ie=UTF8&node=4160761051", :tabindex => "42"}
        %span.nav-a-content 直接取引で販売促進
  .a-fixed-left-flipped-grid.s-padding-left-small.s-padding-right-small.s-span-page.a-spacing-top-small
    .a-fixed-left-grid-inner{:style => "padding-left:200px"}
      .a-fixed-left-grid-col.a-col-right{:style => "padding-left:0%;width:100%;float:right;"}
        #container.lp.s-padding-left-small.twoColumn{"data-app" => "lp", "data-page" => "hybrid", "data-page-construction" => "sx", :documentrole => "main"}
          #merchandised-content.a-section
            %link{:href => "https://images-fe.ssl-images-amazon.com/images/G/01/acs/ux/widget/pageHeader/prod/2.0.1/bxw-page-header.css", :rel => "stylesheet", :type => "text/css"}/
            .celwidget.bxw-pageheader.is-desktop{:cel_widget_id => "acsux-pageheader"}
              .bxw-pageheader__title
                .bxw-pageheader__title__text
                  %h1 本
                  .bxw-pageheader__title__subtext.a-color-secondary
                    %p
                      本の通販ならアマゾン。
                      %a{:href => "/b?node=466280"}> コミック
                      ・
                      %a{:href => "/b?node=13384021"}> 雑誌
                      ・
                      %a{:href => "/b?node=5364238051"}> 単行本
                      ・
                      = succeed "\u{30fb}" do
                        %a{:href => "/b?node=2189048051"} 文庫
                      = succeed "\u{30fb}" do
                        %a{:href => "/b?node=2189049051"} 新書
                      = succeed "\u{30fb}" do
                        %a{:href => "/b?node=466306"} 絵本
                      = succeed "\u{304b}\u{3089}" do
                        %a{:href => "/b?node=52033011"} 洋書
                      = succeed "\u{307e}\u{3067}\u{8c4a}\u{5bcc}\u{306a}\u{54c1}\u{305e}\u{308d}\u{3048}\u{3002}Amazon.co.jp\u{304c}\u{767a}\u{9001}\u{3059}\u{308b}\u{672c}\u{306f}\u{914d}\u{9001}\u{6599}\u{7121}\u{6599}\u{3067}\u{304a}\u{5c4a}\u{3051}\u{3057}\u{307e}\u{3059}\u{3002}" do
                        %a{:href => "/b?node=5301879051"} まとめ買い・セット本
              .a-spacing-top-base
                %div{:style => "margin-bottom:12px;"}
            #gb-pc-faceout100699057021523.GB-M-COMMON.GB-PC-FACEOUT{:style => ""}
              .a-row.a-spacing-small.a-spacing-top-base.faceoutTitle{:style => "height:25px;"}
                %h1.a-size-large{:role => "heading"} 本の種類から探す
              #widgetFilters.a-row.a-spacing-small{"data-widgetid" => "100"}
                .a-row.padCenter.aok-relative
                  #previousShovlButton.a-section.buttonContainer.multiPageButtonContainer.previousButtonContainer.aok-float-left
                    %span#prevButtonDisableArrow.a-declarative{"data-action" => "gbshovel-pagination-faceout", "data-gbshovel-pagination-faceout" => "{\"attribute\":\"page\",\"actionType\":\"shovelPrevious\",\"currentPage\":\"1\",\"totalPages\":\"2\",\"widgetID\":\"100\",\"buttonStatus\":\"disabled\"}"}
                      %i.a-icon.a-icon-previous.leftArrow{"aria-label" => "前へ"}
                        %span.a-icon-alt 前へ
                  #nextShovlButton.a-section.buttonContainer.multiPageButtonContainer.nextButtonContainer.aok-float-right
                    %span#nextButton.a-declarative{"data-action" => "gbshovel-pagination-faceout", "data-gbshovel-pagination-faceout" => "{\"attribute\":\"page\",\"actionType\":\"shovelNext\",\"currentPage\":\"1\",\"totalPages\":\"2\",\"widgetID\":\"100\",\"buttonStatus\":\"normal\"}"}
                      %i.a-icon.a-icon-next.rightArrow{"aria-label" => "次へ"}
                        %span.a-icon-alt 次へ
                  .a-section.tiles{:role => "grid"}
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_53642380?node=5364238051&ie=UTF8", :role => "gridcell"}
                        .a-row.filterLink{"data-value" => "5364238051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4492046178.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 単行本
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_466280?node=466280&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "466280"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/B07B7LP1W5.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block コミック
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_13384021?node=13384021&ie=UTF8", :role => "gridcell"}
                        .a-row.filterLink{"data-value" => "13384021"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/B07BSXZBH8.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 雑誌
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_21890480?node=2189048051&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "2189048051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4167910101.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 文庫
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_21890490?node=2189049051&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "2189049051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-na.ssl-images-amazon.com/images/I/71nrDu8aLsL._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 新書
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_466306?node=466306&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "466306"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4494001015.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 絵本
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "https://www.amazon.co.jp/b/ref=gbpp_itr_m-2_0e59_53737420?node=5373742051&ie=UTF8",}
                        .a-row.filterLink{"data-value" => "5373742051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4087808378.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 写真集
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_52033011?node=52033011&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "52033011"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px",  :src => "https://images-eu.ssl-images-amazon.com/images/P/0552565970.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 洋書
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_53018790?node=5301879051&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "5301879051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/G/09/2017/books/icon/productbundle3.png"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block セット本
            %link{:href => "https://images-fe.ssl-images-amazon.com/images/I/51YydgWLKPL.css?AUIClients/GoldboxMobileAssets#111594-T2", :rel => "stylesheet"}/
            %link{:href => "https://images-na.ssl-images-amazon.com/images/G/01/acs/hfd/widgets/plankton-hero/prod/hfd-plankton-hero.min._CB1517417211_.css", :rel => "stylesheet"}/
            %section.hfd-plankton-hero.hfd-plankton-hero--jp
              %a{:href => "", :target => "_top"}
                %figure
                  %img.a-dynamic-image{:alt => "家の中のすごい生きもの図鑑 一番身近な生き物たちの知られざる生き様とスゴ技", :src => "https://images-na.ssl-images-amazon.com/images/G/09/2018/books/hotw/1106176_books_ymtks_sugoiikimono_plankton_3000x1200._CR0,240,3000,720_SX2500_.jpg"}/
                  %figcaption
                    .hfd-plankton-hero-copy
                      .hfd-plankton-hero-pretext 久留飛克明
                      .hfd-plankton-hero-headline 家の中のすごい生きもの図鑑
                      .hfd-plankton-hero-subtext 一番身近な生き物たちの知られざる生き様とスゴ技
                      .hfd-plankton-hero-cta 今すぐチェック
            %link{:href => "https://images-fe.ssl-images-amazon.com/images/G/01/acs/ux/widget/bxw-content-grid/dist/css/bxw-content-grid-1.1.3.min.css", :rel => "stylesheet", :type => "text/css"}/
            .acsUxWidget
              #contentGrid_990114.acswidget.acswidget-content-grid.celwidget.JP.bxw-content-grid.bxw-content-grid--ember.a-spacing-large.bxc-grid--light{:cel_widget_id => "acsux-widgets-content-grid", "data-is-mobile" => "false"}
                .bxc-grid__container.bxc-grid__container--width-1500
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--12-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__divider
                          %hr.a-divider-normal/
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--12-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__image.bxc-grid__image--light
                          %a{:href => ""}
                            %img{:alt => "まとめ買いキャンペーン", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2018/books/other/MATOME3-8_header._CB496184101_.png"}/
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--12-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__divider
                          %hr.a-divider-normal
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--12-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %h2 ジャンルから探す
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=466280"}
                              %img{:alt => "『コミック・ラノベ・BL』", :src => "https://images-na.ssl-images-amazon.com/images/I/61tj2XDMBUL._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 コミック
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2278488051"} コミック
                            %h4
                              %a{:href => "/b?ie=UTF8&node=467278"} ライトノベル
                            %h4
                              %a{:href => "/b?ie=UTF8&node=12075891"} BLノベルス
                            %h4
                              %a{:href => "/b?ie=UTF8&node=12075851"} BLコミック
                            %h4
                              %a{:href => "/b?ie=UTF8&node=5301879051"} セット本
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492042"} イラスト集
                            %h5
                              %a{:href => "/b?ie=UTF8&node=466280"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=13384021"}
                              %img{:alt => "『雑誌』", :src => "https://images-na.ssl-images-amazon.com/images/I/51ipgHHg39L._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 雑誌
                            %h4
                              %a{:href => "/b?ie=UTF8&node=46425011"} 女性ファッション
                            %h4
                              %a{:href => "/b?ie=UTF8&node=46429011"} 男性ファッション
                            %h4
                              %a{:href => "/b?ie=UTF8&node=46427011"} 生活情報
                            %h4
                              %a{:href => "/b?ie=UTF8&node=46431011"} 趣味
                            %h4
                              %a{:href => "/b?ie=UTF8&node=13384351"} スポーツ
                            %h5
                              %a{:href => "/b?ie=UTF8&node=13384021"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=466284"}
                              %img{:alt => "『文学・評論』",  :src => "https://images-na.ssl-images-amazon.com/images/I/51X7oMF-f5L._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 文学・評論
                            %h4
                              %a{:href => "/b?ie=UTF8&node=548206"} 文芸作品
                            %h4
                              %a{:href => "/b?ie=UTF8&node=507156"} 歴史・時代小説
                            %h4
                              %a{:href => "/b?ie=UTF8&node=467258"} エッセー・随筆
                            %h4
                              %a{:href => "/b?ie=UTF8&node=507216"} ミステリー
                            %h4
                              %a{:href => "/b?ie=UTF8&node=507300"} SF・ホラー
                            %h4
                              %a{:href => "/s?bbn=5301879051&search-alias=stripbooks&field-enc-merchantbin=AN1VRQENFRJN5&node=465392,!2141347051,!2141399051,5301879051,466284"} セット本
                            %h5
                              %a{:href => "/b?ie=UTF8&node=466284"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=466282"}
                              %img{:alt => "『ビジネス・経済』", :src => "https://images-na.ssl-images-amazon.com/images/I/51KFIJ%2BqpkL._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 ビジネス
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492048"} 経済学・経済事情
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492076"} 経営学・MBA
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492052"} 実践経営
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492066"} ビジネス実用
                            %h5
                              %a{:href => "/b?ie=UTF8&node=466282"} すべて見る ▶
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=466304"}
                              %img{:alt => "『暮らし・健康・子育て』",  :src => "https://images-na.ssl-images-amazon.com/images/I/61LvC8CsTwL._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 暮らし・健康・子育て
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2133603051"} 家庭医学・健康
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492292"} レシピ本
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492294"} 美容・ダイエット
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492290"} インテリア
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492316"} 手芸・クラフト
                            %h5
                              %a{:href => "/b?ie=UTF8&node=466304"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=466306"}
                              %img{:alt => "『絵本・児童書』", :src => "https://images-na.ssl-images-amazon.com/images/I/61NVQjKu6fL._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 絵本・児童書
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2269401051"} 赤ちゃん
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2269402051"} 幼児
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2269403051"} 小学1-2年生
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2269404051"} 小学3-4年生
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2269405051"} 小学5-6年生
                            %h4
                              %a{:href => "/s?bbn=5301879051&search-alias=stripbooks&field-enc-merchantbin=AN1VRQENFRJN5&node=465392,!2141347051,!2141399051,5301879051,466306"} セット本
                            %h5
                              %a{:href => "/b?ie=UTF8&node=466306"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=3148931"}
                              %img{:alt => "『教育・学参・受験』", :src => "https://images-na.ssl-images-amazon.com/images/I/91G-du1uj0L._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 教育・学参・受験
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492392"} 幼児教育
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492394"} 小学校
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492396"} 中学校
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492398"} 高校
                            %h4
                              %a{:href => "/b?ie=UTF8&node=3148951"} 大学・大学院
                            %h4
                              %a{:href => "/b?ie=UTF8&node=2361968051"} 勉強法
                            %h5
                              %a{:href => "/b?ie=UTF8&node=3148931"} すべて見る ▶
                    .bxc-grid__column.bxc-grid__column--3-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__text.a-text-left.bxc-grid__text--light
                          %p
                            %a{:href => "/b?ie=UTF8&node=465610"}
                              %img{:alt => "『その他』", :src => "https://images-na.ssl-images-amazon.com/images/I/31nAIEowkrL._AA180_CR0,0,180,180_BO1,144,144,144_.jpg"}/
                          %blockquote
                            %h3 その他
                            %h4
                              %a{:href => "/b?ie=UTF8&node=500592"} タレント写真集
                            %h4
                              %a{:href => "/b?ie=UTF8&node=466296"} エンタテイメント
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492266"} ゲーム攻略本
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492166"} 医学・薬学
                            %h4
                              %a{:href => "/b?ie=UTF8&node=492228"} 資格・検定・就職
                            %h4
                              %a{:href => "/b?ie=UTF8&node=466298"} コンピューター
                            %h5
                              %a{:href => "/b?ie=UTF8&node=465610"} すべて見る ▶
            %link{:href => "https://images-fe.ssl-images-amazon.com/images/G/01/acs/hfd/widgets/acswidget-carousel/prod/0.4.1/acswidget-carousel.min.css", :rel => "stylesheet"}/
            #carousel_548986.acswidget.acswidget-carousel.celwidget.a-spacing-base.acswidget-carousel--shoveler.acswidget-carousel--default{:cel_widget_id => "acsux-widgets-carousel"}
              %h2.a-spacing-mini.acswidget-carousel__header
                %span.acswidget-carousel__title おすすめ商品
                %a.a-size-base.a-spacing-top-small.a-link-emphasis.aok-float-right
                %hr.a-spacing-base.a-spacing-top-mini.a-divider-normal.acswidget-carousel__divider/
              %link{:href => "https://images-fe.ssl-images-amazon.com/images/G/01/acs/ux/widget/bxw-content-grid/dist/css/bxw-content-grid-1.1.3.min.css", :rel => "stylesheet", :type => "text/css"}/
              .acsUxWidget
                #contentGrid_827756.acswidget.acswidget-content-grid.celwidget.JP.bxw-content-grid.bxw-content-grid--ember.a-spacing-large.bxc-grid--light{:cel_widget_id => "acsux-widgets-content-grid", "data-is-mobile" => "false"}
                  .bxc-grid__container.bxc-grid__container--width-1500
                    .bxc-grid__row.bxc-grid__row--light
                      .bxc-grid__column.bxc-grid__column--4-of-12.bxc-grid__column--light
                        .bxc-grid__content.bxc-grid__content--light
                          .bxc-grid__image.bxc-grid__image--light
                            %a{:href => ""}
                              %img{:alt => "本屋大賞受賞『かがみの孤城』", :src => "https://images-fe.ssl-images-amazon.com/images/I/51WThG3JAuL.jpg._SY300_BO1,204,203,200_.jpg"}/
                      .bxc-grid__column.bxc-grid__column--8-of-12.bxc-grid__column--light
                        .bxc-grid__content.bxc-grid__content--light
                          .bxc-grid__text.a-text-left.bxc-grid__text--light
                            %h1 2018年本屋大賞 大賞受賞作
                            %h1 『かがみの孤城』辻村深月
                            %h1
                            %h1
                            %h3 内容紹介
                            %p あなたを、助けたい。
                            %p
                              学校での居場所をなくし、閉じこもっていたこころの目の前で、ある日突然部屋の鏡が光り始めた。輝く鏡をくぐり抜けた先にあったのは、城のような不思議な建物。そこにはちょうどこころと似た境遇の7人が集められていた――
                              %br/
                              なぜこの7人が、なぜこの場所に。すべてが明らかになるとき、驚きとともに大きな感動に包まれる。
                              %br/
                              生きづらさを感じているすべての人に贈る物語。一気読み必至の著者最高傑作。
                            %h1
                            %a.a-link-emphasis{:href => ""} 2018年本屋大賞 特集ページへ
                        .a-box-group.acswidget-carousel__carousel-container
                #carousel_548986__carousel--0.a-begin.a-carousel-container
                  %input.a-carousel-firstvisibleitem{:autocomplete => "on", :type => "hidden"}/
                  %h2.acswidget-carousel__title 商品一覧
                  %hr.a-spacing-base.a-spacing-top-mini.a-divider-normal
                  .a-row.a-carousel-controls.a-carousel-row.a-carousel-has-buttons
                    .a-carousel-row-inner
                      .a-carousel-col.a-carousel-left
                        %a#a-autoid-0.a-button.a-button-image.a-carousel-button.a-carousel-goto-prevpage{:href => "#", :tabindex => "0"}
                          %span.a-button-inner
                            %i.a-icon.a-icon-previous
                              %span.a-icon-alt Previous page
                      .a-carousel-col.a-carousel-center
                        .a-carousel-viewport
                          %ol.a-carousel
                            %li.a-carousel-card.acswidget-carousel__card{"aria-setsize" => "20", :style => "max-width:230px;"}
                              %a.aok-block.aok-nowrap.aok-hide-text.acs_product-image{:href => "/products/show", :style => "vertical-align: middle; height: 150px;", :target => "_blank", :title => "達人に学ぶ SQL徹底指南書 (CodeZine BOOKS)"}
                                %img.aok-align-center{:src => "https://images-na.ssl-images-amazon.com/images/I/51CGypjLrvL._SX348_BO1,204,203,200_.jpg", height: "150", width: "104"}/
                              .a-box-group.a-spacing-top-micro.acs_product-title
                                %a.a-link-normal{:href => "path_products_show", :target => "_blank", :title => "達人に学ぶ SQL徹底指南書 (CodeZine BOOKS)"}
                                  %span.a-size-small 達人に学ぶ SQL徹底指南書 (CodeZine BOOKS)
                              .a-row.a-color-secondary.a-size-small.acs_product-metadata__binding 文庫
                              .a-box-group.a-size-small.a-spacing-none.acs_product-price
                                %span.a-size-base.a-color-price.acs_product-price__buying ￥ 2,592  
                                %i.a-icon.a-icon-jp.a-icon-prime-jp{"aria-label" => "Prime JP"}
                                  %span.a-icon-alt Prime JP
                            %li.a-carousel-card.acswidget-carousel__card{"aria-setsize" => "20", :style => "max-width:230px;"}
                              %a.aok-block.aok-nowrap.aok-hide-text.acs_product-image{:href => "/products/show", :style => "vertical-align: middle; height: 150px;", :target => "_blank", :title => "5分で笑える! おバカで愉快な物語 (宝島社文庫 『このミス』大賞シリーズ)"}
                                %img.aok-align-center{:src => "https://images-fe.ssl-images-amazon.com/images/I/81fqiANghoL._SL150_.jpg"}/
                              .a-box-group.a-spacing-top-micro.acs_product-title
                                %a.a-link-normal{:href => "/products/show", :target => "_blank", :title => "5分で笑える! おバカで愉快な物語 (宝島社文庫 『このミス』大賞シリーズ)"}
                                  %span.a-size-small 5分で笑える! おバカで愉快な物語 (宝島社文庫 『このミス』大賞シリーズ)
                              『このミステリーがすごい!』編集部
                              .a-row.a-color-secondary.a-size-small.acs_product-metadata__binding 文庫
                              .a-box-group.a-size-small.a-spacing-none.acs_product-price
                                %span.a-size-base.a-color-price.acs_product-price__buying ￥ 702  
                                %i.a-icon.a-icon-jp.a-icon-prime-jp{"aria-label" => "Prime JP"}
                                  %span.a-icon-alt Prime JP

