= render "shared/book_search"
.a-fixed-left-flipped-grid.s-padding-left-small.s-padding-right-small.s-span-page.a-spacing-top-small
  .a-fixed-left-grid-inner{:style => "padding-left:250px"}
    .a-fixed-left-grid-col.a-col-right{:style => "padding-left:30px; width:100%; float:right; padding-top:10px;"}
      #container.lp.s-padding-left-small.twoColumn{"data-app" => "lp", "data-page" => "hybrid", "data-page-construction" => "sx", :documentrole => "main"}
        #merchandised-content.a-section
          .celwidget.bxw-pageheader.is-desktop{:cel_widget_id => "acsux-pageheader"}
            .bxw-pageheader__title
              .bxw-pageheader__title__text
                %h1 コミック
                .bxw-pageheader__title__subtext.a-color-secondary
                  %p
                    本の通販ならアマゾン。
                    %a{:href => "/b?node=466280"}> コミック
                    ・
                    %a{:href => "/b?node=13384021"}> 雑誌
                    ・
                    %a{:href => "/b?node=5364238051"}> 単行本
                    ・
                    %a{:href => "/b?node=2189048051"}> 文庫
                    ・
                    %a{:href => "/b?node=2189049051"}> 新書
                    ・
                    %a{:href => "/b?node=466306"}> 絵本
                    ・
                    %a{:href => "/b?node=52033011"}> 洋書
                    %a{:href => "/b?node=5301879051"} まとめ買い・セット本
                    まで豊富な品ぞろえ。Amazon.co.jpが発送する本は配送料無料でお届けします。
              .a-spacing-top-base
                %div{:style => "margin-bottom:12px;"}
            #gb-pc-faceout100699057021523.GB-M-COMMON.GB-PC-FACEOUT{:style => ""}
              .a-row.a-spacing-small.a-spacing-top-base.faceoutTitle{:style => "height:25px;"}
                %h1.a-size-large{:role => "heading"} 本の種類から探す
              #widgetFilters.a-row.a-spacing-small{"data-widgetid" => "100"}
                .a-row.padCenter.aok-relative
                  .a-section.tiles
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_53642380?node=5364238051&ie=UTF8"}
                        .a-row.filterLink
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4492046178.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 単行本
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_466280?node=466280&ie=UTF8"}
                        .a-row.filterLink
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/B07B7LP1W5.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block コミック
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_13384021?node=13384021&ie=UTF8", :role => "gridcell"}
                        .a-row.filterLink{"data-value" => "13384021"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/B07BSXZBH8.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 雑誌
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_21890480?node=2189048051&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "2189048051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4167910101.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 文庫
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_21890490?node=2189049051&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "2189049051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-na.ssl-images-amazon.com/images/I/71nrDu8aLsL._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 新書
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "/b/ref=gbpp_itr_m-2_0e59_466306?node=466306&ie=UTF8"}
                        .a-row.filterLink{"data-value" => "466306"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4494001015.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 絵本
                    .tile.aok-inline-block{:style => "width:12.5%;"}
                      %a.a-link-normal{:href => "https://www.amazon.co.jp/b/ref=gbpp_itr_m-2_0e59_53737420?node=5373742051&ie=UTF8",}
                        .a-row.filterLink{"data-value" => "5373742051"}
                          .a-section.a-spacing-mini.imageContainer.aok-relative
                            %img.filterImage.aok-inline-block{:alt => "", :height => "75px", :src => "https://images-eu.ssl-images-amazon.com/images/P/4087808378.01._SS100_.jpg"}/
                            .a-section.tileOverlay
                          .a-section
                            %span.a-size-small.a-color-base.faceoutText.aok-block 写真集
            %section.hfd-plankton-hero.hfd-plankton-hero--jp
              %a{:href => "", :target => "_top"}
                %figure
                  %img.a-dynamic-image{:alt => "家の中のすごい生きもの図鑑 一番身近な生き物たちの知られざる生き様とスゴ技", :src => "http://newstylegoon.com/wp-content/uploads/2018/02/0f89ba35caf3fb9a675d0aa8d49fbdc2.jpg", style: "width: 70%;"}/
                  %figcaption
                    .hfd-plankton-hero-copy
                      .hfd-plankton-hero-pretext 日向武史
                      .hfd-plankton-hero-headline あひるの空
                      .hfd-plankton-hero-subtext 待望のTVアニメ化！！
                      .hfd-plankton-hero-cta 今すぐチェック
            %link{:href => "https://images-fe.ssl-images-amazon.com/images/G/01/acs/ux/widget/bxw-content-grid/dist/css/bxw-content-grid-1.1.3.min.css", :rel => "stylesheet", :type => "text/css"}/
            .acsUxWidget
              #contentGrid_990114.acswidget.acswidget-content-grid.celwidget.JP.bxw-content-grid.bxw-content-grid--ember.a-spacing-large.bxc-grid--light{:cel_widget_id => "acsux-widgets-content-grid", "data-is-mobile" => "false"}
                .bxc-grid__container.bxc-grid__container--width-1500
                  .bxc-grid__row.bxc-grid__row--light
                    .bxc-grid__column.bxc-grid__column--12-of-12.bxc-grid__column--light
                      .bxc-grid__content.bxc-grid__content--light
                        .bxc-grid__image.bxc-grid__image--light
                          %a{:href => ""}
                            %img{:alt => "まとめ買いキャンペーン", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2018/books/other/MATOME3-8_header._CB496184101_.png"}/
                .a-carousel-container
                  %h2 商品一覧
                  = paginate(@books)
                  %hr
                    .a-carousel-viewport
                      %ol.a-carousel
                      - @books.each do |book|
                        %li.a-carousel-card.acswidget-carousel__card{"aria-setsize" => "20", :style => "max-width:230px;"}
                          %a.aok-block.aok-nowrap.aok-hide-text.acs_product-image{:href => "/products/show", :style => "vertical-align: middle;", :target => "_blank", :title => "book.name"}
                          - book.bookimages.each do |image|
                            = image_tag(image.image_url, style: " height: 244px; width: 160px;")
                          .a-box-group.a-spacing-top-micro.acs_product-title
                            %a.a-link-normal{:href => "/products/show", :target => "_blank", :title => "book.name"}
                              %span.a-size-small
                              = book.name
                          - book.registrationinformations.each do |reg|
                            .a-row.a-color-secondary
                            = reg.determinetype
                            .a-box-group.a-size-small.a-spacing-none.acs_product-price
                              %span.a-size-base.a-color-price ¥
                              %span.a-size-base.a-color-price
                                = book.price
                              %i.a-icon.a-icon-jp.a-icon-prime-jp{"aria-label" => "Prime JP"}
                                %span.a-icon-alt Prime JP
                      = paginate(@books)


    = render "shared/book_side_body"

