.top
  .top__left
    .top__left__picture
      %img{:src => "https://images-na.ssl-images-amazon.com/images/I/51CGypjLrvL._SX348_BO1,204,203,200_.jpg",:class => "main" }
      .sub
    .top__left__main
      .top__left__main__top
        %h1 達人に学ぶ SQL徹底指南書 (CodeZine BOOKS)
        .date
          %p 2008/2/7
          %p 著者
      .top__left__main__middle
        .top
          = link_to "その他（2）の形式およびエディションを表示する"
        .left
          = link_to "kindle版 ¥ 2,400", "",class: "kindle"
          = link_to "今すぐお読みいただけます: 無料アプリ","",class: "apuri"
        .right
          = link_to "単行本(ソフトカバー¥ 2,592)","",class: "comic"
        .bottom
          = link_to "新しいお届け予定日を見るにはこちらをクリック"
      .top__left__main__bottom
        %img{:align => "left", :alt => "booksPMP", :border => "0", :height => "65", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2018/books/other/MATOME3-8_product_alart._CB497681712_.png", :width => "144"}/
        %p 書籍3冊以上を購入する際、クーポンコード「MATOME3」を入力すると最大8%ポイント還元！

  .top__right
    .top__right__top
      =link_to "シェアする"
      %i.fa.fa-envelope-o.fa-lg
      %i.fa.fa-facebook-official.fa-lg
      %i.fa.fa-twitter.fa-lg
    .top__right__main
      .price
        %p.a 新品
        %p.b ¥ 2,592
        %p.c ポイント:
        %p.d 78pt(3%)
        = link_to "詳細はこちら", class: "e"
      %p.f 通常送料無料
      = link_to "詳細", class: "g"
      .rest
        %p.h 残り16点(入荷予定あり)
        %p.i 在庫状況について
        %p.j この商品は、Amazon.co.jpが販売、発送します。ギフトラッピングを利用できます。
      .cart
        %p 数量:
        %select#select
          %option{:value => "zero"} 0
          %option{:value => "one"} 1
          %option{:value => "two"} 2
          %option{:value => "three"} 3
          %option{:value => "four"} 4
          %option{:value => "five"} 5
        .into-cart
          %label
            %br/
            %input{:name => "Checkbox", :type => "checkbox", :value => "チェックボックス"}/
            %p.k この注文でお急ぎ便、お届け日時指定便を無料体験  Amazonプライム無料体験について
          .cart-in
            = link_to "" do
              = fa_icon 'shopping-cart', class: "icon"
              %p.l カートに入れる
      .sign
        = link_to "1-Clickで注文する場合は、サインインをしてください。", "" ,class: "m"
      .adress
        = link_to "東京 102-0082‌ にお届け", "" , class: "n"
  .top__footer
    %h3 キャンペーンおよび追加情報
    .info
      %p ・ 【コンピュータ・IT】 プログラミング、アプリケーション関連書から各種試験対策まで コンピュータ・IT のページへ。
      %p ・  入会特典をこの商品に利用した場合、2,592円が592 円に ！ Amazonクラシックカード 新規ご入会で、2,000円分 の Amazonポイントプレゼント。 今すぐチェック
