#pageContent
  .desktop-banner
    .widget-main
      = link_to("", class: "") do
        = image_tag("https://images-fe.ssl-images-amazon.com/images/G/09/Digital_Video/GW_HERO/GW_MULTIPACKS_NONPRIME_3000x600_180419._CB497395409_.jpg", class: "banner-image")
  #main-content.a-fixed-right-grid
    .main-content.a-fixed-right-grid-inner
      .main-content--container.a-fixed-right-grid-col.a-col-left
        .topics
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    母の日特集
                %span.a-section.topic-title-block-right
                  = link_to "詳細を見る", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1108589_12_gw_shoveler_400x400._CB497161183_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1108589_13_gw_shoveler_400x400._CB497161183_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1108589_14_gw_shoveler_400x400._CB497161183_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1108589_15_gw_shoveler_400x400._CB497161182_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1108589_15_gw_shoveler_400x400._CB497161182_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    これも注目
                %span.a-section.topic-title-block-right
                  = link_to "その他を表示", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/613lzt1YuOL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51I7tDbzWFL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51I7tDbzWFL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51I7tDbzWFL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/61DDE%2BMOcmL._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    【値下げ・新作も】セレクト系
                %span.a-section.topic-title-block-right
                  = link_to "もっと見る", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41NScG6mn5L._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41qTcIxTGSL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/31UX94H8RUL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/512HeBdvSRL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41Kt%2Bp93BQL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41NScG6mn5L._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .billboardwrapper
            .a-row.billboard-row
              .a-column.a-span6
                .billboard
                  .a-section.a-text-inner
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/digital-music/merch/evergreen/amu/EchoGA_DesktopBillboard2x_2._CB501042423_.png")
              .a-column.a-span6.a-span-last
                .billboard
                  .a-section.a-text-inner
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/audible/gw/desktop/1111913_billboard_880x400._CB496200995_.jpg")
          %hr.billboard-hr
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    この商品を見たお客様はこれも見ています
                %span.a-section.topic-title-block-right
                  = link_to "その他を表示", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/610Zi52bu9L._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41qz33Dn%2B7L._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51FRi0VEoGL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51vvB2lQfCL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51PzhQ89pEL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51AY3EAW7JL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51t0iNczB6L._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    オススメはこちら
                %span.a-section.topic-title-block-right
                  = link_to "その他を表示", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51dA9nVxvUL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51QiPwRyrfL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/516NCCN-PfL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/41bWnVucusL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51%2BUbQooIeL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51AY3EAW7JL._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .billboardwrapper
            .a-row.billboard-row
              .a-column.a-span6
                .billboard
                  .a-section.a-text-inner.a-text-center
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2017/mp3/prime/evergreen/DesktopBillboard880x400_1._CB490765634_.png")
              .a-column.a-span6.a-span-last
                .billboard
                  .a-section.a-text-inner.a-text-center
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/credit/img17/CBCC/gateway/JPcbccgold-e-billboard2X._CB493639251_.jpg")
          %hr.billboard-hr
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    本の売れ筋ランキング
                %span.a-section.topic-title-block-right
                  = link_to "その他を表示", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/616E5fgieYL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/515MK30uwWL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/61NVQjKu6fL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51bgZshBVhL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51a5BUBJOWL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/31S5nJytUZL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51t0iNczB6L._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .topic
            .a-section.fresh-shoveler.a-spacing-none
              .a-section.topic-title-block
                %h2.a-section.topic-title-block-left
                  %span.a-color-base
                    おもちゃの売れ筋ランキング
                %span.a-section.topic-title-block-right
                  = link_to "その他を表示", "", class: "a-link-normal"
              .a-section.feed-carousel
                .a-section.feed-carousel-viewport
                  %ul.feed-carousel-shelf
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/5161BrIvQDL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/31ltUkWSFeL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/613lzt1YuOL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/615cLddx1IL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/61mScA6l5NL._AC_SY400_.jpg", class: "product-image")
                    %li.feed-carousel-card
                      %span.a-list-item
                        =link_to("",classs: "a-link-normal") do
                          = image_tag(src="https://images-fe.ssl-images-amazon.com/images/I/51myr9A8BPL._AC_SY400_.jpg", class: "product-image")
                %span.feed-scrollbar
                  %span.feed-scrollbar-track
                    %span.feed-scrollbar-thumb
          .billboardwrapper
            .a-row.billboard-row
              .a-column.a-span6
                .billboard
                  .a-section.a-text-inner.a-text-center
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/fashion/09_promo/watches/gw/desktop/1109370_apparel_gw_billboard_gw_880x400._CB498907154_.jpg")
              .a-column.a-span6.a-span-last
                .billboard
                  .a-section.a-text-inner.a-text-center
                    = link_to("", class: "a-link-normal") do
                      = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/audible/gw/desktop/1111913_billboard_880x400._CB496200995_.jpg")
          %hr.billboard-hr
      .sidebar.a-fixed-right-grid-col.col-right
        .adv-wrapper
          .img-wrapper
            = link_to("") do
              = image_tag(src="https://images-na.ssl-images-amazon.com/images/G/09/shazam/1106210-apparel-coupon-b1g15-p1-21-house-ad-300x250-5SYRB._V498528668_.jpg")
        %hr.slot-hr
        .adv-wrapper
          .img-wrapper.a-section.a-text-center
            = link_to("", class: "a-link-normal") do
              = image_tag(src="https://images-fe.ssl-images-amazon.com/images/G/09/2018/x-site/mothers_day/gw/1105460_20_gw_desktop_sidekick_528x340._CB498307787_.png", width: "264px")
        %hr.slot-hr
