= render "shared/book_search"
.wrapper
  = render partial: "products/show-top";
  = render partial: "products/show-explanation"
  = render partial: "products/show-info"
  = render partial: "products/show-review"
